@{
    ViewBag.Title = "All about us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">
        <img class="pull-left img-responsive" src="~/Content/Assets/banner3.jpg" /> 
    </div>
    <div class="col-md-9">
        <p>
            ULorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ipsum diam, pellentesque vel bibendum ut, varius ac augue. Nullam nunc urna, pulvinar a viverra sed, posuere vel lorem.
            Pellentesque laoreet fermentum sem, sed facilisis tellus interdum faucibus. Quisque iaculis ut erat nec sagittis. Maecenas non sapien non lacus vulputate varius. Vivamus ac libero diam.
            Pellentesque placerat ex a sem laoreet, egestas congue ante venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In purus diam, auctor et pharetra at, sagittis vitae sapien. Suspendisse id tincidunt urna.
        </p>
        <p>
            Morbi eu volutpat lectus. Vivamus rhoncus dui vitae enim volutpat fermentum. Suspendisse nec tortor quis nibh viverra consequat.
            In sit amet accumsan dui, ut tempor elit. Quisque placerat, erat eu porttitor ullamcorper, urna lorem rhoncus sapien, ut dignissim tortor elit eget elit.
            Sed non ipsum ac magna dignissim vestibulum. Aenean sem urna, ultricies ac ligula a, ornare tempus est. Sed iaculis quam varius diam tincidunt imperdiet.
            Donec aliquet est eget libero vestibulum iaculis. Suspendisse urna libero, imperdiet id facilisis quis, posuere at augue.
            Fusce et lacinia arcu. Proin dictum dapibus erat, quis ultrices lectus aliquet ut. Donec eu mauris orci.
        </p>
        <p>
            Praesent dapibus tristique fringilla. Phasellus in orci et lectus tristique porta quis sit amet lorem. Pellentesque cursus nec orci non ullamcorper.
            Fusce molestie ex et justo egestas semper. Duis a elit fringilla, tempus leo quis, varius dolor. Aliquam nec luctus diam, a interdum felis.
            Vestibulum at dolor nec lacus viverra vehicula. Aliquam tincidunt facilisis tristique. Aenean posuere viverra orci. Duis blandit sodales rhoncus.
        </p>
    </div>
</div>


